.container-main {
  display: flex;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #1d1d2c;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.button-sidebar {
  margin-bottom: 20px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.content {
  flex-grow: 1;
  padding: 30px;
}

.titulo-main{
  color: azure;
  margin-left: 25px;
  margin-bottom: 50px;
}